# Build artifacts
cb_getattr_probe
cb_recall_probe
op_allocate
op_io_advise
op_seek
op_copy
op_deallocate
op_clone
op_xattr
op_statx_btime
op_ofd_lock
op_change_attr
op_rename_atomic
op_symlink
op_linkat
op_access
op_setattr
op_mkdir
op_rmdir
op_readdir
op_open_excl
op_mknod_fifo
op_deleg_attr
op_deleg_recall
op_server_caps
*.o
*.dSYM/

# Scratch files left if a test aborts before cleanup
t_*
t1[0-5].*
